node_modules/*
node_modules/.package-lock.json
node_modules/.bin/conc
node_modules/.bin/concurrently
node_modules/.bin/qrcode
node_modules/.bin/tree-kill
show_record/
uploads/
runtime/live_state.json
.vscode/settings.json
runtime/musiclist.json
runtime/live_state.json
runtime/
