node_modules/*
node_modules/.package-lock.json
node_modules/.bin/conc
node_modules/.bin/concurrently
node_modules/.bin/qrcode
node_modules/.bin/tree-kill
show_record/
uploads/
backend/config/runtime/live_state.json
.vscode/settings.json
backend/config/runtime/musiclist.json
